<form [formGroup]="form" (keydown)="handleInput($event)">
  <div class="flex flex-row gap-5 flex-wrap">
    <app-input formControlName="name" label="Name" />
    <app-input formControlName="moduleName" label="Module" />
    <app-input formControlName="subname" label="Sub Name" />
    <app-input formControlName="minLevel" label="Min Level" type="number" />
    <app-input formControlName="maxLevel" label="Max Level" type="number" />
    <app-select
      formControlName="class"
      label="Class"
      [options]="unitClassOptions"
    />
    <app-select
      formControlName="damageSchool"
      label="Damage School"
      [options]="damageSchoolOptions"
    />
    <app-select formControlName="rank" label="Rank" [options]="rankOptions" />
    <app-select
      formControlName="type"
      label="Type"
      [options]="creatureTypeOptions"
    />
    <app-select
      formControlName="factionTemplate"
      label="Faction Template"
      [options]="factionTemplateOptions"
      *ngIf="form.get('type')?.value !== 'BEAST'"
    />
    <app-select
      formControlName="family"
      label="Family"
      [options]="familyOptions"
      *ngIf="form.get('type')?.value === 'BEAST'"
    />
  </div>

  <section hlmCard class="mt-3">
    <div
      class="flex flex-row justify-between items-center p-4 bg-stone-900 rounded-t-sm"
      hlmCardHeader
    >
      <h3 hlmCardTitle>Models</h3>
      <app-models-dialog (addModelEvent)="addModel($event)"></app-models-dialog>
    </div>
    <div formArrayName="models" hlmCardContent class="flex flex-col gap-3 py-3">
      <section
        hlmCard
        *ngFor="let model of models.controls; let i = index"
        class="p-3 flex justify-between items-end"
      >
        <div [formGroupName]="i" class="flex flex-row gap-3">
          <app-input
            formControlName="npcID"
            label="NPC ID"
            *ngIf="model.get('npcID') !== null"
          />
          <app-input
            formControlName="visualID"
            label="Visual ID"
            *ngIf="model.get('visualID') !== null"
          />
        </div>
        <button hlmBtn variant="destructive" (click)="removeModel(i)">
          <hlm-icon size="sm" name="lucideTrash"></hlm-icon>
        </button>
      </section>
    </div>
  </section>

  <section hlmCard class="mt-3" formGroupName="primaryFlags">
    <div hlmCardHeader class="p-4 bg-stone-900 rounded-t-sm">
      <h3 hlmCardTitle>Primary Flags</h3>
    </div>
    <div hlmCardContent class="py-3 grid grid-cols-4 grid-rows-2 gap-7">
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="gossip" />
        Gossip
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="repair" />
        Repairer
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="questGiver" />
        Quest Giver
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="flightMaster" />
        Flight Master
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="trainer" />
        Trainer
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="innKeeper" />
        Innkeeper
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="vendor" />
        Vendor
      </label>
    </div>
  </section>

  <section hlmCard class="mt-3" formGroupName="secondaryFlags">
    <div hlmCardHeader class="p-4 bg-stone-900 rounded-t-sm">
      <h3 hlmCardTitle>Secondary Flags</h3>
    </div>
    <div hlmCardContent class="py-3 grid grid-cols-4 grid-rows-2 gap-7">
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="immuneToPlayers" />
        Immune To Players
      </label>
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="immuneToNPC" />
        Immune To NPC
      </label>
      <!-- <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="notInteractable" />
        Not Interactable
      </label> -->
      <!-- <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="canWalk" />
        Can Walk
      </label> -->
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="canSwim" />
        Can Swim
      </label>
      <!-- <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="canFly" />
        Can Fly
      </label> -->
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="skinnable" />
        Skinnable
      </label>
      <!-- <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="noWoundAnimation" />
        No Wound Animation
      </label> -->
      <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="forceGossip" />
        Force Gossip
      </label>
      <!-- <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" formControlName="isBoss" />
        Is Boss
      </label> -->
    </div>
  </section>

  <section hlmCard class="mt-3" *ngIf="form.get('primaryFlags.gossip')?.value">
    <div hlmCardHeader class="p-4 bg-stone-900 rounded-t-sm">
      <h3 hlmCardTitle>Gossip Menu</h3>
    </div>
    <div class="pt-4" hlmCardContent>
      <app-textarea
        formControlName="gossipMenu"
        inputClass="w-full h-full min-h-40"
      />
    </div>
  </section>
  <section hlmCard class="mt-3">
    <div hlmCardHeader class="p-4 bg-stone-900 rounded-t-sm">
      <h3 hlmCardTitle>Designer Comments</h3>
    </div>
    <div class="pt-4" hlmCardContent>
      <app-textarea
        formControlName="designerComments"
        inputClass="w-full h-full min-h-40"
      />
    </div>
  </section>

  <section hlmCard class="mt-3">
    <div
      class="flex flex-row justify-between items-center p-4 bg-stone-900 rounded-t-sm"
      hlmCardHeader
    >
      <h3 hlmCardTitle>Weapon</h3>
    </div>
    <div hlmCardContent class="py-3 flex flex-row gap-3" formGroupName="weapon">
      <app-input formControlName="leftHand" label="Left Hand" />
      <app-input formControlName="rightHand" label="Right Hand" />
      <app-input formControlName="ranged" label="Ranged" />
    </div>
  </section>

  <section hlmCard class="mt-3">
    <div
      class="flex flex-row justify-between items-center p-4 bg-stone-900 rounded-t-sm"
      hlmCardHeader
    >
      <h3 hlmCardTitle>Loot</h3>
      <button hlmBtn (click)="addLoot()">
        <hlm-icon size="sm" name="lucidePlus" />
      </button>
    </div>

    <div formArrayName="loot" hlmCardContent class="flex flex-col gap-3 py-3">
      <section
        hlmCard
        *ngFor="let item of loot.controls; let i = index"
        class="p-3 flex justify-between items-end" 
      >
        <div [formGroupName]="i" class="flex flex-row gap-3">
          <app-input formControlName="itemID" label="Item ID" />
          <app-input formControlName="dropChance" label="Drop Chance" />
          <app-input
            formControlName="minDropAmount"
            label="Minimum Drop Amount"
            type="number"
          />
          <app-input
            formControlName="maxDropAmount"
            label="Maximum Drop Amount"
            type="number"
          />
        </div>
        <button hlmBtn variant="destructive" (click)="removeLoot(i)">
          <hlm-icon size="sm" name="lucideTrash"></hlm-icon>
        </button>
      </section>
    </div>
  </section>
</form>
