<form [formGroup]="form">
  <div class="flex flex-row gap-5">
    <app-input formControlName="title" label="Title"></app-input>
  </div>
  <section hlmCard class="mt-3">
    <div class="flex flex-row justify-between items-center" hlmCardHeader>
      <h3 hlmCardTitle>Objectives</h3>
      <app-objective-dialog
        (addObjectiveEvent)="addObjective($event)"
      ></app-objective-dialog>
    </div>
    <div formArrayName="objectives" hlmCardContent class="flex flex-col gap-3">
      <section
        hlmCard
        *ngFor="let objective of objectives.controls; let i = index"
        class="p-3 flex justify-between items-center"
      >
        <div [formGroupName]="i">
          <app-input
            formControlName="objectiveItemID"
            label="Item ID"
            *ngIf="objective.get('objectiveItemID') !== null"
          />
          <app-input
            formControlName="objectiveCreatureID"
            label="Creature ID"
            *ngIf="objective.get('objectiveCreatureID') !== null"
          />
          <app-input formControlName="count" label="Count" />
        </div>
        <button hlmBtn variant="destructive" (click)="removeObjective(i)">
          <hlm-icon size="sm" name="lucideTrash"></hlm-icon>
        </button>
      </section>
    </div>
  </section>
</form>
