<form [formGroup]="form" (keydown)="handleInput($event)">
  <div class="flex flex-row gap-5 flex-wrap">
    <app-input formControlName="name" label="Name" />
    <app-input formControlName="moduleName" label="Module Name" />
    <app-select formControlName="type" label="Type" [options]="typeOptions" />
    <app-select
      formControlName="quality"
      label="Quality"
      [options]="qualityOptions"
    />
    <app-input formControlName="itemLevel" label="Item Level" type="number" />
    <app-input
      formControlName="requiredLevel"
      label="Required Level"
      type="number"
    />
    <app-input formControlName="displayID" label="Display ID" />
    <app-select
      formControlName="bonding"
      label="Bonding"
      [options]="bondingOptions"
    />
    <div formGroupName="price">
      <app-input formControlName="sellPrice" label="Sell Price" type="number" />
    </div>
    <div formGroupName="price">
      <app-input formControlName="buyPrice" label="Buy Price" type="number" />
    </div>
  </div>
  <app-weapon-details
    formControlName="weaponDetails"
    *ngIf="form.get('type')?.value === 'WEAPON'"
  />
  <app-armor-details
    formControlName="armorDetails"
    *ngIf="form.get('type')?.value === 'ARMOR'"
  />
</form>
